#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

@font-face {
  font-family: 'Paperlogy';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2408-3@1.0/Paperlogy-5Medium.woff2') format('woff2');
  font-weight: 800;
  font-style: semibold;
  font: 'Paperlogy';
  font-display: swap;
}

body {
  font-family: 'Paperlogy';
}